<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--metrics的全局上下文名称，如接口中未传入template参数，该值被用作模板名称-->
    <add key="Metrics.GlobalContextName" value="globalContextName"/>
    <!--zabbix服务器主机名/IP，如配置了 ZabbixApi.url 该配置可选-->
    <add key="Zabbix.host" value="myZabbixServer"/>
    <!--zabbix服务端口，默认10051-->
    <add key="Zabbix.port" value="10051"/>
    <!--zabbix管理端API地址-->
    <add key="ZabbixApi.url" value="http://myZabbixServer/zabbix/api_jsonrpc.php" />
    <!--zabbix管理端用户名称，不提供将不会自动创建template和item-->
    <add key="ZabbixApi.user" value="Admin" />
    <!--zabbix管理端用户密码-->
    <add key="ZabbixApi.password" value="zabbix" />
  </appSettings>
</configuration>