<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Metrics.GlobalContextName" value="globalContextName"/>
    <add key="Zabbix.host" value="myZabbixServer"/>
    <add key="Zabbix.port" value="10051"/>
    <add key="ZabbixApi.url" value="http://myZabbixServer/zabbix/api_jsonrpc.php" />
    <add key="ZabbixApi.user" value="Admin" />
    <add key="ZabbixApi.password" value="zabbix" />
  </appSettings>
</configuration>